@media (max-width: 350px) {
  .navbar {
    display: none;
  }
}

.navbar a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: #60F463;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes blinking {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.logo-cursor {
  position: relative;
}

.logo-cursor::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: #60F463;
  animation: blinking 1s infinite;
  /* 1s is the duration of one cycle of animation, and infinite means the animation will continue indefinitely */
}

.nav-container {
  max-width: 1200px;
  grid-template-columns: 2fr 3fr;
}

.logo * {
  font-size: 19px;
  font-weight: 300;
  text-decoration: none;
}

.logo-directory {
  color: #60F463;
}

.current {
  color: #60F463;
}