@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 100%;
  background-color: #191919;
  color: white;
  color-scheme: light dark;
  font-family: 'IBM Plex Mono', monospace, 'Bebas Neue', sans-serif;
}

.layout {
  display: grid;
  height: 100vh;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}

.header { 
  grid-area: header;
}

.main { 
  grid-area: main;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}

.footer {
  grid-area: footer;
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.content h1 {
  font-size: 2.5em;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content h3 {
  font-size: 1.3rem;
  font-weight: 300;
}

.content-link {
  color:#60F463;
}